<!DOCTYPE html>
<html>
<title>Capital One App</title>
<body>

<h1>Calculate Average Weekly Income by Location:</h1>
<form action = "/predict-income" method="POST">
	<p>Latitude:<input name="lat" type ="text" value="" />
        Longitutde: <input name="long" type ="text" value="" /> </p>
	<p> <input type ="submit" value="submit" /> </p>
</form>
<h1>The Price is Right!</h1>
<h1>Calculate the Best Price to Maximize Profits by Location:</h1>
<form action = "/predict-price" method="POST">
	<p>Latitude:<input name="lat" type ="text" value="" />
        Longitutde: <input name="long" type ="text" value="" /> </p>
	<p> <input type ="submit" value="submit" /> </p>
</form>

</body>
</html>